@model CorpusSMDemo.ViewModels.Admin.AdminEditVM
@{
    ViewData["Title"] = "Edit User";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
<section class="jumbotron text-center" style="opacity: 0.9">
    <div class="container">
        <h1 class="jumbotron-heading" style=" color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 100px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: center;">Edit user</h1>
    </div>
</section>
<br />
<br />
<div class="container">
    <form action="/Admin/Edit" method="post">
        @Html.HiddenFor(m => m.Id)
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <center>
                                    <img width="100" src="~/images/user_profile.png" />
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <center>
                                    <h3>Edit</h3>
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <center>
                                    <hr />
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <center>
                                    <span class="badge bg-info text-dark">Personal Information</span>
                                </center>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>First Name:</label>
                                <div class="form-group">
                                    @Html.TextBoxFor(u => u.FirstName, null, new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Last Name:</label>
                                <div class="form-group">
                                    @Html.TextBoxFor(u => u.LastName, null, new { @class = "form-control" })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Username:</label>
                                <div class="form-group">
                                    @Html.TextBoxFor(u => u.Username, null, new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email:</label>
                                <div class="form-group">
                                    @Html.TextBoxFor(u => u.Email, null, new { @class = "form-control" })

                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Password:</label>
                                <div class="form-group">
                                    @Html.TextBoxFor(u => u.Password, null, new { @class = "form-control" })

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <input class="btn btn-primary btn-block btn-lg" type="submit" name="Edit" value="Edit" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <a href="/Admin/Index">
                    <img width="45" src="~/images/back.png" />
                </a>
                <br /><br />
            </div>
        </div>
    </form>
</div>
<script>
    window.
        onload
        = function () {
            Particles.
                init
                ({
                    selector:
                        '.background'
                });
        };
    var particles = Particles.init({
        selector: '.background',
        color: '#3366ff'
    });
</script>
<canvas class="background"></canvas>

