
@model CorpusSMDemo.ViewModels.Posts.ShareVM
@using CorpusSMDemo.Entities
@{
    ViewData["Title"] = "Share Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<link href="//datatables.net/download/build/nightly/jquery.dataTables.css" rel="stylesheet" type="text/css" />
<script src="//datatables.net/download/build/nightly/jquery.dataTables.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>


<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br />
        <a href="/Posts/Index">
            <img width="45" src="~/images/back.png" />
        </a>
        <br /><br />
        <form action="/Posts/Create" method="post">
            <div class="card">
                <div class="card-header">
                    @Model.User.FirstName @Model.User.LastName (@Model.User.Username)
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        @Model.Post.Title
                    </h5>
                    <p class="card-text">
                        @Model.Post.Content
                    </p>
                </div>
            </div>
        </form>
    </div>
    <div class="col-3"></div>
</div>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6"><hr /></div>
    <div class="col-3"></div>
</div>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <h3>This Post Is Shared With:</h3>
    </div>
    <div class="col-3"></div>
</div>


<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <table id="myTable" class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Unshare</th>
                </tr>
            </thead>
            <tbody>
                @foreach (User item in Model.SharedWith)
                {
                    <tr>
                        <td>@item.FirstName</td>
                        <td>@item.LastName</td>
                        <td>(@item.Username)</td>
                        <td>
                            <a href="/Posts/RevokeAccess?UserId=@item.Id&PostId=@Model.Post.Id">
                                <img width="30" src="~/images/id-card.png" />
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-3"></div>
</div>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6"><hr /></div>
    <div class="col-3"></div>
</div>

<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <fieldset>
            <legend>Share With: </legend>
            <form action="/Posts/Share" method="post">
                <div class="row">
                    <div class="col-5">
                        <input type="hidden" name="PostId" value="@Model.Post.Id" />
                        <div class="form-check">
                            @foreach (User item in Model.Users)
                            {
                                <input class="form-check-input" id="cb_user_@item.Id" type="checkbox" name="UserIds" value="@item.Id" />
                                <label class="form-check-label" for="cb_user_@item.Id">@item.FirstName @item.LastName</label>
                                <br />
                            }
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-2">
                        <input class="btn btn-primary" type="submit" value="Share" />
                    </div>
                </div>
            </form>
        </fieldset>

    </div>
    <div class="col-3"></div>
</div>
<script>
    window.
        onload
        = function () {
            Particles.
                init
                ({
                    selector:
                        '.background'
                });
        };
    var particles = Particles.init({
        selector: '.background',
        color: ['#DA0463', '#404B69', '#DBEDF3'],
        connectParticles: true
    });
</script>
<canvas class="background"></canvas>
